.btn-align{
margin-left:115px;
margin-left: 208px;
margin-top: -63px

}


      .text-img {
        position: absolute;
        left: -212px;
        color: black;
        padding-left: 1098px;
        padding-right: 20px;
        margin-top: 96px;
      }
    .form-Style{
      border-radius: 0.5em;
     margin: 0 auto;
     display: block;
     background-color:rgba(194, 202, 212, 0.89) ;
     padding: 6em;
    margin-left: 45px;
    margin-top:50px;
  }